body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: #EFECE8;
}

h1 {
  font-family: 'Tajawal', sans-serif;
  color: darkred;
  font-size: 4rem;
  text-align: center;
}

h2, h3 {
  font-family: 'Tajawal', sans-serif;
}
h2 {
  text-align: center;
  font-size: 2.5rem;
}
h3 {
  font-size: 1.6rem;
}
p {
  font-size: 1.3rem;
  padding-left: 1rem;
}

#card-container {
  margin: auto;
  width: 35%;
  max-width: 100%;
  max-height: 100%;
   
}

#card-title {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Tajawal', sans-serif;
  color: #fff;
  font-size: 1.5rem;
}

.form-container {
  margin: 2rem 7%;

}

.form-container .column {
  padding: 1rem;
}

form, input, textarea, select {
  width: 100%;
  margin: 1rem 0;

}

input:focus, textarea:focus, select:focus {
  border-color: darkgreen !important;
}


button:hover {
  background-color: darkred;
  color: white;
  border: white;
}


.text-container {
  padding: 4rem 1rem 2rem 1rem;
  max-height: 100%;
  overflow: hidden;
  /* word-wrap: break-word; */
  position: relative;
}

#card-from {
  float: right;
  padding-right: 1rem;
}

img {
  height: 100%;
  width: 100%;
  margin: 0;
  float: right;
  object-fit: cover;
}

@media (max-width: 1000px) {
  #card-container {
    max-height: 100%;
  }
  .one-third.column, .two-thirds.column {
    width: 100%;
    float: none;
  }
  .column {
    margin: 0;
  }
  img {
    height: 100%;
  }
}

@media (max-width: 768px) {
  #card-container {
    width: 100%;
  }
}
